.error-section{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}

.error-section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-image: linear-gradient(
    90deg,var(--primary-color3) 0, transparent 1px),
  linear-gradient(var(--primary-color3) 0,transparent 1px);
  background-size: 20px 20px;
  pointer-events: none;
}

.error-content {
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.error-heading{
    font-size: 20rem;
    text-align: center;
    font-family: 'Silkscreen', cursive !important;
    background: var(--primary-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.error-sub-head {
    color: var(--text-primary);
    font-size: 6rem;
    text-align: center;
}

.error-content, p {
    font-size: 2rem;
}

.error-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}